{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Search Form</title>
</head>
<body>
    <h1>Search</h1>
    <form action="{% url 'search_results' %}" method="GET">
        <input type="text" name="query" placeholder="Enter your search query" required>
        <button type="submit">Search</button>
    </form>
</body>
</html> {% endcomment %}



<html>
    <head>
        <title>Search Form</title>
    </head>
    <body>
<div class="wrap">
    <div class="search">
    <form action="{% url 'search_results' %}" method="GET">
       <input type="text" name="query" class="searchTerm" placeholder="What are you looking for?">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
       </button>
    </form>
    </div>
 </div>
</body>
</html> 